<h1>Discussion Room</h1>

<table class = "table table-striped">
<thead>  
<tr>
    <th>Topic</th>
    <th>Language</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<thead>
<tbody>
<%= render @discussions %>
<tbody>
</table>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
