<% if user_signed_in? %>
	<h2>You're logged in! Start  
	<%= link_to "discussing", discussions_path %>
	your codeventure.</h2>
<% else %>

<div class="hero-unit">
<h1>Welcome to Codecation</h1>
<p>
	Use this site to engage with others who are learning to code.
</p>
<p>
	<%= link_to "Join the Codeversation!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>

<% end %>