<div class="hero-unit">
<h1>Welcome to Codecation</h1>
<p>
	Use this site to engage with others who are learning to code.
</p>
<p>
	<%= link_to "Join the Codeversation!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>